@charset "utf-8";

*{
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body,td,th,p{
	font-size: 10pt;
	color: #333;
  line-height: 1.5;
  margin: 0 auto;
}
body {
	background-color: #fdfdfd;
  margin: 0;
}
ul, li {
	font-size: 10pt;
  color: #333;
}
a {
	color: #5766A2;
	text-decoration: none;
}
a:hover, a:focus {
	color: #5766A2;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
  font-weight:500;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.main-content {
     background-color: #f7f7f7;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #252831;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5em;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: all 0.256s ease-in-out;
}

@media screen and (max-width: 462px){
  nav h1 a {
    letter-spacing: 4px;
  }
}
.breadcrumb {
    padding: 0.2em 0 0.5em 0.5em;
    list-style: none;
       background-color: #f7f7f7;
    font-size: 2em;
    margin:0;
    width: 100%;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb li a {
    color: #5766A2;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #5766A2;
    text-decoration: underline;
}

.map {
  min-height: 40vh;
  width: 100%;
  background-color: #ccc;
  display: inline-block;
}
.btn-normal{
  align-self:center;
  width:5em;
  height:2em;
  border-radius: 0.2em;
  z-index: 100;
  background-color: #5766A2;
  color: white;
  font-weight: 500;
  font-size: 14pt;
  cursor:pointer;
  border:none;
  box-shadow: 0 0.3em 0.6em #666;
  outline: none;
  transition: all 0.256s linear; 
}
#map-toggle-btn{
  width:11em;
  height:4em;
  font-weight: 700;
  font-size: 24px;
  margin-top:0.5em;
  margin-right: 1em;
}

.btn-normal:hover{
  background-color: #252831;
  box-shadow: 0 0.3em 0.6em #ccc;
}

.hidden{
  display: none;
}

.notification-box{
  position: absolute;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width:20em;
  color:  #fff;
  background-color: #5766A2;
  border-radius: 0.1em;
  font-variant-caps: small-caps;
  font-size: 14pt;
  padding:0.2em 0.5em;
  display: inline-flex;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.2em 0.4em #ccc; 
}

.notification-close{
  background-color: #5766A2;
  padding-left:0.2em;
  border:none;
  outline: none;
  width:2em;
  border-left: 1px solid #fff;
  color:#EA4335;
  font-size:24pt;
  float:right;
  font-weight: 700;
  cursor: pointer;
}

.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(calc(50vw - 10em)); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(calc(50vw - 10em)); }
}
  
@keyframes slide-out {
  0% { transform: translateX(-150%); }
  100% { transform: translateX(-150%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(-150%); }
  100% { -webkit-transform: translateX(-150%); }
}

.inside .map-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
  .inside .map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
    align-self: stretch;
     margin-bottom:0.3em;
  }
  
  .inside .restaurant-access-info{
    min-width:200px;
    padding-bottom:1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .restaurant-access-info h3{
    font-style: italic;
    color: #5766A2;
    text-align:left;
    font-size:18pt;
  }

  @media screen and (max-width: 699px){
    .inside .map-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
    .inside .restaurant-access-info, .inside .map, #map-toggle-btn{
      margin: 0 auto;
    }
    .fav-heart{
      right:7%;
    }
  }

  @media screen and (min-width:700px){

    .inside .map {
      background-color: #ccc;
      max-width: 65%;
    }
    
    .inside .restaurant-access-info{
      max-width:35%;
    }
  }
  
  .inside .footer {
    width: 100%;
  }
  .restaurant-name {
    color: #5766A2;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    margin: 1em;
    text-transform: uppercase;
    line-height: 1.1;
  }
  @media screen and (max-width:492px){
    .restaurant-name{
      font-size: 16pt;
    }

    .fav-heart{
      right:10%;
      font-size: 22pt;
    }
  }

  .img-container{
    position:relative;
    width:100%;
  }
  
  .fav-heart{
    position: absolute;
    font-size: 30pt;
    top:2%;
    right:2%;
    z-index:100;
    color: #fff;
    cursor: pointer;
    text-shadow: 0 0.2em 0.4em #ccc;
  }
  
  .heart-favourite{
    color: #EA4335
  }

  .restaurant-img {
    width: 100%;
    object-fit: cover;
    max-height:500px;
    overflow: hidden;
  }
  
  .restaurant-address {
    font-size: 16pt;
    margin-top:-0.5em;
    margin-bottom: 1em;
  }
  .restaurant-cuisine {
    background-color: #333333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
      width: 100%;
  }
  .restaurant-container, .reviews-container {
    border-bottom: 1px solid #d9d9d9;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .reviews-container {
    padding: 1.5em;
  }

  .reviews-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-circle{
    width:2em;
    height:2em;
    border-radius: 50%;
    z-index: 100;
    background-color: #5766A2;
    color: white;
    font-weight: 700;
    font-size: 24px;
    cursor:pointer;
    border:none;
    box-shadow: 0 0.2em 0.4em #666;
    outline: none;
    transition: all 0.256s linear; 
    margin-left: 0.5em;
    margin-bottom: 0.7em;
  }
  
  .btn-circle:hover{
    background-color: #252831;
    box-shadow: 0 0.1em 0.2em #ccc;
  }
  .reviews-container h2 {
    color: #5766A2;
    font-size: 20pt;
    padding-bottom: 1pt;
  }
  .reviews-list {
    margin: 0;
    padding: 0;
  }

  .reviews-list li{
    border-radius:0.1em;
  }

  .review-container {
    background-color: #fff;
    border: 2px solid #f2f2f2;
    display: block;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.3em 0.6em #d9d9d9;
  }
  
  .review-name, .review-date{
    font-weight: 700;
  }
  .review-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5em;
    padding:1em 1em 0 0;
    border-bottom:1px solid #f2f2f2;
  }
  .rating-star{
    color:#5766A2;
    font-size:17pt;
  }
  .review-comments{
    padding-left:0.5em;
  }
  .restaurant-address , .restaurant-hours{
    align-self: flex-start;
    margin-top:-0.5em;
    margin-bottom:1em;
  }
  .restaurant-hours td {
    color: #666;
  }

/* -------------------------------------------REVIEW-FORM--------------------------------------------------*/

.create-review-form{
  position: absolute;
  transform: translateX(-150%);
  -webkit-transform: translateX(-150%);
  background-color: #fff;
  border:none;
  border-radius:0.2em;
  box-shadow: 0 0.3em 0.6em #666;
  min-width:20em;
  max-width:30em;
  z-index:900;
}

@media screen and (min-width: 700px){
  .create-review-form {
    width:calc(50vw);
  }
}

.review-form-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5em;
}
.create-review-form .btn-normal{
  float:right;
  margin:0 1.5em 1.5em 0;
}
.btn-white{
  background-color: #fff;
}
.create-review-form h2{
  border-bottom: #ccc;
  color: #252831;
  padding:0.1em 0.5em;
  margin-bottom:0;
  font-variant-caps: small-caps;
}
.review-form-group{
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}
.review-form-group>input{
  border: none;
  border-bottom: 1px solid #5766A2;
}

.review-form-group>textarea{
  border: 1px solid #5766A2;
  border-radius: 0.1em;
}

.review-form-group>input:focus{
  outline:none;
  box-shadow: 0 0.2em 0.4em #ccc;
  border-bottom: 1px solid #5766A2;
}

.review-form-group>textarea:focus{
  outline:none;
  box-shadow: 0 0.2em 0.4em #ccc;
  border: 1px solid #5766A2;
}

.review-form-group>label{
  font-size:12pt;
  color:#252831;
}

.txt-center {
  text-align: center;
}
.hide {
  display: none;
}

.clear {
  float: none;
  clear: both;
}

.review-rating-container {
  width: 200px;
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: left;
  position: relative;
}

.review-rating-container > label {
  display: inline;
  font-size:20pt;
  padding: 0;
  margin: 0;
  position: relative;
  cursor: pointer;
  color: #ccc;
}

.review-rating-container > label:hover,
.review-rating-container > label:hover ~ label,
.review-rating-container > input.radio-btn:checked ~ label {
  color: transparent;
}

.review-rating-container > label:hover:before,
.review-rating-container > label:hover ~ label:before,
.review-rating-container > input.radio-btn:checked ~ label:before,
.review-rating-container > input.radio-btn:checked ~ label:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: #5766A2;
}  
  