@charset "utf-8";

*{
  box-sizing: border-box;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
  line-height: 1.5;
  margin: 0 auto;
}
body {
	background-color: #fdfdfd;
  margin: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
  color: #333;
}
a {
	color: #5766A2;
	text-decoration: none;
}
a:hover, a:focus {
	color: #5766A2;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0.5em;
  font-weight:500;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

li, .details-btn, .restaurant-img ,select{
  border-radius: 0.1em;
}
.main-content {
  background-color: #F8F8F8;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footer {
  background-color:#252831;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5em;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: all 0.256s ease-in-out;
}

@media screen and (max-width: 462px){
  nav h1 a {
    letter-spacing: 4px;
  }
}
.breadcrumb {
    padding: 0.2em 0 0.5em 0.5em;
    list-style: none;
    background-color: #f7f7f7;
    font-size: 2em;
    margin:0;
    width: 100%;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb li a {
    color: #5766A2;
    text-decoration: none;
}

.toggle-hide{
  display: none;
}

.breadcrumb li a:hover {
    color: #5766A2;
    text-decoration: underline;
}

#map-toggle-btn{
  width:2em;
  height:2em;
  border-radius: 50%;
  z-index: 100;
  margin-top:0.5em;
  margin-right: 1em;
  background-color: #5766A2;
  color: white;
  font-weight: 700;
  font-size: 24px;
  cursor:pointer;
  border:none;
  box-shadow: 0 0.2em 0.4em #fff;
  outline: none;
  transition: all 0.256s linear; 
}

#map-toggle-btn:hover{
  background-color: #252831;
  box-shadow: 0 0.1em 0.2em #ccc;
}

.map-container{
  display: block;
  transition: all 0.4s linear;
}
.map {
  min-height: 40vh;
  width: 100%;
  background-color: #ccc;
}

.select-container{
  display: flex;
  flex-direction: column;
}
.select-container>label{
  color: #fff;
}

.filters{
  background-color: #252831;
  width: 100%;
}
.filter-options {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-selections{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media screen and (max-width:420px){
  .filter-options {
    font-size: 9pt;
  }
  .filter-selections select{
    padding:0.2em;
  }
}
.filters h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  padding:0.5em 1em 0 0.5em;
}
.filter-selections select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 10pt;
  letter-spacing: 0;
  margin: 0.5em;
  padding: 0.2em;
}

.restaurants-list {
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  text-align: center;
  width:100%;
}
.restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  margin:1em;
  width:98%;
}

@media screen and (min-width: 671px){
  .restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .restaurants-list li{
    width: 300px;
  }
}

@media screen and (min-width: 871px) and (max-width:996px){
  .restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .restaurants-list li{
    width: 400px;
  }
}


.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  object-fit: cover;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
.restaurants-list li h1 {
  color: #5766A2;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  padding: 0.5em 0.5em;
  text-transform: uppercase;
}

.notification-box{
  position: absolute;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  width:18em;
  color:  #fff;
  background-color: #5766A2;
  border-radius: 0.1em;
  font-variant-caps: small-caps;
  font-size: 14pt;
  padding:0.2em 0.5em;
  display: inline-flex;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.2em 0.4em #ccc; 
}

.notification-close{
  background-color: #5766A2;
  padding-left:0.2em;
  border:none;
  outline: none;
  width:2em;
  border-left: 1px solid #fff;
  color:#EA4335;
  font-size:22pt;
  font-weight: 700;
}


.slide-in {
  animation: slide-in 0.5s forwards;
  -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
  animation: slide-out 0.5s forwards;
  -webkit-animation: slide-out 0.5s forwards;
}
  
@keyframes slide-in {
  100% { transform: translateX(calc(50vw - 9em)); }
}

@-webkit-keyframes slide-in {
  100% { -webkit-transform: translateX(calc(50vw - 9em)); }
}
  
@keyframes slide-out {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(-150%); }
}

@-webkit-keyframes slide-out {
  0% { -webkit-transform: translateX(-100%); }
  100% { -webkit-transform: translateX(-150%); }
}

.img-container{
  position:relative;
}

.fav-heart{
  position: absolute;
  font-size: 22pt;
  top:5%;
  left:85%;
  z-index:100;
  color: #fff;
  cursor: pointer;
  text-shadow: 0 0.2em 0.4em #ccc;
}

.heart-favourite{
  color: #EA4335
}
.restaurants-list li h4{
  font-weight: 600;
}

.restaurants-list span, .restaurants-list h4 {
  padding:0 0.5em;
  font-size: 10pt;
}

.restaurants-list li a {
  background-color: #5766A2;
  box-shadow: 0 0.3em 0.6em #666; 
  color: #fff;
  display: block;
  font-size: 10pt;
  padding: 0.5em;
  margin: 1em 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition:all 0.3s ease-in-out;
}

.restaurants-list li a:hover{
  box-shadow: 0 0.1em 0.2em #ccc; 
  background-color: #252831;
}

.hidden{
  display: none;
}

.block{
  display: block;
}