@charset "utf-8";

*{
  box-sizing: border-box;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
  line-height: 1.5;
  margin: 0 auto;
}
body {
	background-color: #fdfdfd;
  margin: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
  color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0.5em;
  font-weight:500;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.main-content {
  background-color: #f3f3f3;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5em;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: all 0.256s ease-in-out;
}

@media screen and (max-width: 462px){
  nav h1 a {
    letter-spacing: 4px;
  }
}
.breadcrumb {
    padding: 0.2em 0 0.5em 0.5em;
    list-style: none;
    background-color: #f3f3f3;
    font-size: 2em;
    margin:0;
    width: 100%;
}


.breadcrumb li {
    display: inline;
}


.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}


.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

.map {
  min-height: 55vh;
  width: 100%;
  background-color: #ccc;
}

.filter-options {
  width: 100%;
  background-color: #252831;
  align-items: center;
}

@media screen and (max-width:420px){
  .filter-options {
    font-size: 9pt;
  }
  .filter-options select{
    padding:0.2em;
  }
}
.filter-options h2 {
  color: white;
  font-size: 1.3rem;
  font-weight: normal;
  line-height: 1;
  padding:0.5em 1em 0 0.5em;
}
.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 10pt;
  letter-spacing: 0;
  margin: 0.5em;
  padding: 0.2em;
}


.restaurants-list {
  background-color: #f3f3f3;
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 100%;
  text-align: center;
  width:100%;
}
.restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial,sans-serif;
  text-align: left;
  margin:1em;
  width:98%;
}

@media screen and (min-width: 671px){
  .restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .restaurants-list li{
    width: 300px;
  }
}

@media screen and (min-width: 871px) and (max-width:996px){
  .restaurants-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .restaurants-list li{
    width: 400px;
  }
}


.restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0;
  object-fit: cover;
  max-width: 100%;
  min-height: 248px;
  min-width: 100%;
}
.restaurants-list li h1 {
  color: #f58500;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.3;
  padding: 0.5em 0.5em;
  text-transform: uppercase;
}
.restaurants-list span, .restaurants-list h4 {
  padding:0 0.5em;
  font-size: 10pt;
}

.restaurants-list li a {
  background-color: #f28500;;
  box-shadow: 0 0.3em 0.6em #666; 
  color: #fff;
  display: block;
  font-size: 10pt;
  padding: 0.5em;
  margin: 1em 0.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition:all 0.3s ease-in-out;
}

.restaurants-list li a:hover{
  box-shadow: 0 0.1em 0.2em #ccc; 
  background-color: #f18200;
}
