@charset "utf-8";

*{
  box-sizing: border-box;
}
body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
  line-height: 1.5;
  margin: 0 auto;
}
body {
	background-color: #fdfdfd;
  margin: 0;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
  color: #333;
}
a {
	color: #5766A2;
	text-decoration: none;
}
a:hover, a:focus {
	color: #5766A2;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 0.5em;
  font-weight:500;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
.main-content {
     background-color: #f7f7f7;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.footer {
  background-color: #252831;
  color: #fff;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  display: flex;
  align-items: center;
  justify-content: center;
  padding:0.5em;
}
nav h1 {
  margin: auto;
}
nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
  transition: all 0.256s ease-in-out;
}

@media screen and (max-width: 462px){
  nav h1 a {
    letter-spacing: 4px;
  }
}
.breadcrumb {
    padding: 0.2em 0 0.5em 0.5em;
    list-style: none;
       background-color: #f7f7f7;
    font-size: 2em;
    margin:0;
    width: 100%;
}

.breadcrumb li {
    display: inline;
}

.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}


.breadcrumb li a {
    color: #5766A2;
    text-decoration: none;
}

.breadcrumb li a:hover {
    color: #5766A2;
    text-decoration: underline;
}

.map {
  min-height: 55vh;
  width: 100%;
  background-color: #ccc;
  display: inline-block;
}

#map-toggle-btn{
  align-self:center;
  width:11em;
  height:4em;
  border-radius: 0.2em;
  z-index: 100;
  margin-top:0.5em;
  margin-right: 1em;
  background-color: #5766A2;
  color: white;
  font-weight: 700;
  font-size: 24px;
  cursor:pointer;
  border:none;
  box-shadow: 0 0.3em 0.6em #666;
  outline: none;
  transition: all 0.256s linear; 
}

#map-toggle-btn:hover{
  background-color: #252831;
  box-shadow: 0 0.3em 0.6em #ccc;
}

.hidden{
  display: none;
}

.inside .map-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}
  .inside .map {
    background-color: #ccc;
    height: 100%;
    width: 100%;
    align-self: stretch;
     margin-bottom:0.3em;
  }
  
  .inside .restaurant-access-info{
    min-width:200px;
    padding-bottom:1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  


  .restaurant-access-info h3{
    font-style: italic;
    color: #5766A2;
    text-align:left;
    font-size:18pt;
  }

  @media screen and (max-width: 699px){
    .inside .map-container {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: stretch;
    }
    .inside .restaurant-access-info, .inside .map, #map-toggle-btn{
      margin: 0 auto;
    }
  }

  @media screen and (min-width:700px){

    .inside .map {
      background-color: #ccc;
      max-width: 65%;
    }
    
    .inside .restaurant-access-info{
      max-width:35%;
    }
  }
  
  .inside .footer {
    width: 100%;
  }
  .restaurant-name {
    color: #5766A2;
    font-family: Arial,sans-serif;
    font-size: 20pt;
    margin: 1em;
    text-transform: uppercase;
    line-height: 1.1;
  }
  @media screen and (max-width:492px){
    .restaurant-name{
      font-size: 16pt;
    }
  }
  .restaurant-img {
    width: 100%;
    object-fit: cover;
    max-height:500px;
    overflow: hidden;
  }
  
  .restaurant-address {
    font-size: 16pt;
    margin-top:-0.5em;
    margin-bottom: 1em;
  }
  .restaurant-cuisine {
    background-color: #333333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
      width: 100%;
  }
  .restaurant-container, .reviews-container {
    border-bottom: 1px solid #d9d9d9;
    padding: 1em;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .reviews-container {
    padding: 1.5em;
  }
  .reviews-container h2 {
    color: #5766A2;
    font-size: 20pt;
    padding-bottom: 1pt;
  }
  .reviews-list {
    margin: 0;
    padding: 0;
  }
  .review-container {
    background-color: #fff;
    border: 2px solid #f2f2f2;
    display: block;
    list-style-type: none;
    margin: 0 0 1em;
    padding: 0 0.5em 0.5em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0.3em 0.6em #d9d9d9;
  }
  
  .review-name, .review-date{
    font-weight: 700;
  }
  .review-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5em;
    padding:1em 1em 0 0;
    border-bottom:1px solid #f2f2f2;
  }
  
  .rating-star{
    color:#5766A2;
    font-size:17pt;
  }
  .review-comments{
    padding-left:0.5em;
  }
  
  .restaurant-address , .restaurant-hours{
    align-self: flex-start;
    margin-top:-0.5em;
    margin-bottom:1em;
  }
  .restaurant-hours td {
    color: #666;
  }
  